footer{
    padding: 2rem 0rem 1rem 0rem;
    background-color: crimson;
}

footer p{
    color: whitesmoke;
}
footer ol{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

footer ol li{
    list-style-type: decimal;
    color: whitesmoke;
}