@font-face {
  font-family: "PokeClassic";
  src: url("./assets/fonts/Pokemon\ Classic.ttf");
}
@font-face {
  font-family: "PokeSolid";
  src: url("./assets/fonts/Pokemon\ Solid.ttf");
}
.App, option, select, input {
  text-align: center;
  font-family: PokeClassic;
}

h3, h4, li{
  font-size: 0.9rem;
}
h1, h2{

  font-family:PokeSolid;
  letter-spacing: 0.15rem;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 1px rgb(3, 3, 104);
  
}
